.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    
}
.container_clock{
    display: flex;
    justify-content: center;
}
.clock{
    position: relative;
    width: 200px;
    height: 200px;
    border: 3px solid black;
    border-radius: 50%;
}
.clock_hour{
    position: absolute;
    height: 60px;
    width: 0;
    border-left: 1px solid orange;
    top: 40px;
    left: 100px;
    transform-origin:left bottom;
    animation-name: rotate;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
}
.clock_minute{
    position: absolute;
    height: 80px;
    width: 0;
    border-left: 1px solid red;
    top: 20px;
    left: 100px;
    transform-origin:left bottom;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
}
.clock_center{
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: black;
    border-radius: 50%;
    left: 98px;
    top: 98px;   
}
@keyframes rotate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.timepiece{
    margin-bottom: 50px;
}


.container_doors{
    display: flex;
    align-items: center;
    justify-content: center;
}
.doors{
    position: relative;
    margin-bottom: 50px;
}
.text{
    top: 40px;
    position: absolute;
    z-index: 1;
    transition: 0.2s;
}
.door_left{
    position: relative;
    z-index: 100;
    height: 100px;
    width: 250px;
    border: 2px solid rgb(52, 11, 90);
    background-color: blueviolet;
    transition: 0.2s;    
}
.doors:hover .door_left{
    transform: skewY(15deg) translateX(-10px) scale(0.8);
    transition: 2s;
}
.door_right{
    position: relative;
    z-index: 100;
    height: 100px;
    width: 250px;
    border: 2px solid rgb(52, 11, 90);
    background-color: blueviolet;
    transition: 0.2s;  
}
.doors:hover .door_right{
    transform: skewY(-15deg) translateX(10px) scale(0.8);
    transition: 2s;
}
.doors:hover .text{
    top:70px;
    transform: scale(1.5);
    transition: 2s;
}


.summer{
    max-height: 338px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
h1{
    text-align: center;
    width: 50%;
}
.image{
    width: 50%;
    overflow: hidden;
}
img{
    transition: 1s;
}
.box{
    position: absolute;
    width: 1200px;
    height: 338px;
    background-color: black;
    opacity: 0;
    transition: 0.3s;
}
.summer:hover .image img{
    transform: scale(1.2);
}
.summer:hover .box{
    opacity: 0.5;
}
.autumn{
    max-height: 338px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.autumn:hover .image img{
    transform: scale(1.2);
}
.autumn:hover .box{
    opacity: 0.5;
}
